body{
    background-image: url(image/bg\ produk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #F2B587; */
    background-color:burlywood;
    color: #fff;
    padding: 10px;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.3px);
    -webkit-backdrop-filter: blur(2.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    }
    .nav-links a:hover{
        background-color: rgb(0, 122, 82);
    }
  
  
  .burger {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      align-items: center;
    }
    
    .nav-links li {
      margin: 10px 0;
    }
    
    .burger {
      display: block;
      cursor: pointer;
    }
  }


        .grid{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            margin: 80px;
            grid-gap:30px;
        }
        .grid img{
            width: 300px;
            height: 300px;
            object-fit: cover;
        }
        .grid2 img{
            width: 300px;
            height: 300px;
            object-fit: cover;
        }

        .grid > article{
            box-shadow: 2px 1px 1px 0px black;
            border-radius: 30px;
            text-align: center;
            background: whitesmoke;
            width: 300px;
            transition: transform;
        }

        .grid > article img{
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            /* width: 100%; */
        }

        .grid > article:hover{
            transform:scale(1.1);
        }

        @media (max-width:1000px){
            .grid{
                grid-template-columns: repeat(2,1fr);
            }
        }
        @media (max-width:800px){
            .grid{
                grid-template-columns: repeat(1,1fr);
            }
        }
        .container2{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            max-width: 100%;
            padding: 40px;
            margin-top: 20px;
        }
        
        .grid2{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            margin: 80px;
            grid-gap:30px;
        }

        .grid2 > article{
            box-shadow: 2px 1px 1px 0px black;
            border-radius: 30px;
            text-align: center;
            background: whitesmoke;
            width: 300px;
            transition: transform;
        }

        .grid2 > article img{
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            /* width: 100%; */
        }
        .grid2 > article:hover{
            transform:scale(1.1);
        }

        @media (max-width:1000px){
            .grid2{
                grid-template-columns: repeat(2,1fr);
            }
        }
        @media (max-width:800px){
            .grid2{
                grid-template-columns: repeat(1,1fr);
            }
        }
        footer {
            position: fixed;
            bottom: 0;
        }
        
        .footer {
            background-color: #040a18;
            box-sizing: border-box;
            width: 100%;
            text-align: left;
            font: bold 16px sans-serif;
            padding: 50px 50px 60px 50px;
            margin-top: 80px;
        }
        
        .footer .footer-left,
        .footer .footer-center,
        .footer .footer-right {
            display: inline-block;
            vertical-align: top;
        }
        
        @media (max-height:800px) {
            footer {
                position: static;
            }
        }
        
        .footer .footer-left {
            width: 30%;
        }
        
        .footer h3 {
            color: #f5f5f5;
            margin: 0;
            padding-bottom: 20px;
            font-family: Georgia, 'Time New Roman', Times, serif;
        }
        
        .footer .footer-left img {
            width: 25%;
            vertical-align: middle;
        }
        
        .footer .footer-left .logo {
            width: 100%;
        }
        
        .footer .footer-copyright {
            color: #8f9296;
            font-size: 14px;
            font-weight: normal;
            margin: 0;
            padding-top: 10%;
        }
        
        .footer .footer-center {
            width: 35%;
        }
        
        .footer .footer-center i {
            background-color: #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }
        
        .footer .footer-center i.fa-envelope {
            font-size: 17px;
            line-height: 38px;
        }
        
        .footer .footer-center p {
            display: inline-block;
            color: #ffffff;
            vertical-align: middle;
            margin: 0px;
        }
        
        .footer .footer-center p span {
            display: block;
            font-weight: normal;
            font-size: 14px;
            line-height: 2;
        }
        
        .footer .footer-center p a {
            color: rgb(22, 255, 177);
            text-decoration: none;
        }
        
        .footer .footer-right {
            width: 30%;
        }
        
        .footer .footer-about {
            line-height: 20px;
            color: #92999f;
            font-size: 13px;
            font-weight: normal;
            margin: 0px;
        }
        
        .footer .footer-about span {
            display: block;
            color: #ffffff;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        
        .footer .footer-media {
            margin-top: 25px;
        }
        
        .footer .footer-media a {
            display: inline-block;
            width: 50px;
            height: 50px;
            cursor: pointer;
            background-color: #33383b;
            border-radius: 50%;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 50px;
            margin-right: 3px;
            margin-bottom: 5px;
        }
        
        .footer .footer-media a:hover {
            background-color: rgb(0, 122, 82);
        }
        
        @media (max-width: 880px) {
        
            .footer .footer-left,
            .footer .footer-center,
            .footer .footer-right {
                display: block;
                width: 100%;
                margin-bottom: 40px;
                text-align: left;
            }
        
            .footer .footer-center i {
                margin-left: 0px;
            }
        
        }